<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/Portfolio/JM_Portfolio/Project_Poetry_Subs_V1/PoetrySub.css">
    <title>PS Header</title>
</head>
<body>
    

    <div class="header">
    <h1 class="header-title">Amourly</h1>
    <p class="header-subtitle">Personalized Poetry Subscription Service</p>
    <p class="header-tagline">Bringing hearts closer, one verse at a time.</p>

    <nav class="nav-bar">
        <a onclick="location.href='/'" class="nav-link">Home</a>
        <a onclick="location.href='/Howitworks'" class="nav-link">How It Works</a>
        <a onclick="location.href='/payment'" class="nav-link">Start Subscription</a>
        <a onclick="location.href='/login'" class="nav-link-icon">Login ICON </a>
    </nav>

</div>
</body>
</html>