<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Start your subscription!</title>

        <link rel="stylesheet" href="css/howitworks.css"/> 
</head>
<body>

<%- include("partials/PS_header.ejs") %>



<div class="included-section">   
    <h2 class="section-title">What's Included?</h2>

    <div class="included-features">

        <img src="/static_files/couple6.jpg" id="img-couple1" alt="couple_together_img" width="100" height="100">
        
        <div class="feature-tile" id="feature1">
            <h3>Personalized Poems</h3>
            <p>Each poem can be uniquely crafted based on your relationship details and preferences, ensuring a heartfelt and meaningful experience. Or Poems can be chosen from our carefully curated libraries of romantic expressions.</p>
        </div>

        <div class="feature-tile" id="feature2">
            <h3>Regular Deliveries</h3>
            <p>Receive beautifully written poems delivered directly to your Significant Other's inbox at your chosen frequency.</p>
        </div>

        <div class="feature-tile" id="feature3">
            <h3>Exclusive Offers</h3>
            <p>Subscribers gain access to a variety of romantic expressions, a display card for your favourite poems, and the chance to win exciting prizes with our top-tier package.</p>
        </div>

    </div>  

    <div class="section" id="tier1-crush">
        <h3>Young Crush Package</h3>
            <ul>
                <li>Monthly "Amoure" delivery from our curated libraries</li>
                <li>Email delivery to your Significant Other</li>
                <li>Animated digital display card displaying each poem</li>
            </ul>

            <a href="/newsignup?choice=option1">
                <button class="btn-crush" onclick="location.href='/newsignup'">Start Your Crush</button>
            </a>
    </div>

    <div class="section" id="tier2-newlove">
        <h3>New Love Affair Package</h3>
            <ul>
                <li>Monthly "Amoure" delivery from our curated libraries including haikus, sonnet, Ballad, Psalm, vow, Limerick and many more</li>
                <li>Email delivery to your Significant Other</li>
                <li>A digital display card within the email with each poem</li>
                <li>Brief "Amoure" background description sent to your email to ignite passion and connectivity</li>
            </ul>

            <a href="/newsignup?choice=option2">
                <button class="btn-love" onclick="location.href='/newsignup'">Start Your New Love Affair</button>
            </a>
    </div>
    <div class="section" id="tier3-passionate">
        <h3>Passionate Outpour Package</h3>
            <ul class="">
                <li>Monthly "Amoure" delivery from our curated libraries including haikus, sonnet, Ballad, Psalm, vow, Limerick and many more</li>    
                <li>Email delivery to your Significant Other with a sensational animation to display your "Amore"</li>
                <li>A premium display card sent to your SO's address with your "Amore" displayed in fine detail creating lasting memories!</li>
                <li>In-depth "Amoure" background description sent to your email to ignite passion and connectivity</li>
                <li>Entry into a monthly prize draw to win a romantic couples weekend
                    away and a year's subscription for free when you send us a photo of you both with your gifts</li>
            </ul>

            <a href="/newsignup?choice=option3">
                <button class="btn-passion" onclick="location.href='/newsignup'">Start Your Passionate Outpour</button>
            </a>

    </div>
</div>







<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"/>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" src="/Clientside_JS/PoetrySub.js" type="module"></script>

<%- include("partials/PS_footer.ejs") %>
</body>
</html>