body {
  margin: 0;
  padding: 0;
  background: #fff9f5;
  font-family: Arial, sans-serif;
}

.header{
    text-align: center;
    padding: 20px;
    background: #A02c3e;
    color: white;
    border-radius: 0;
    box-shadow: 0 4px 12px rgba(0,0,0,0.2);
    margin: 0;
}

.nav-bar {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    gap: 20px;
    border: 3px solid white;
    padding: 10px;
    border-radius: 10px;
    background: rgba(209, 204, 204, 0.1);

}

.nav-link{
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 18px;
    transition: color 0.7s ease;
    transition: transform 0.3s ease;
    will-change: transform;

    &:hover {
        color: #f8d77c;
        transform: scale(1.05);
    }
}


.account-container{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    max-width: 1200px;
    margin: 50px auto;
    justify-content: space-evenly;
    align-content: space-around;
    padding: 20px;
    background: white;
    border-radius: 8px;
    border: 4px solid black;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
    
}
.account-top-row{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: top;
    margin-bottom: 5px;
}

.account-second-row{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: top;
    margin-top: 5px;
}
#account-overview{

    width: 100%;
    margin: 0 auto 30px auto;
    padding: 10px;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    color: #A02c3e;
    border: 4px solid rgb(63, 177, 152);
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
    

}

#personal-details{
    border: 3px solid rgb(12, 123, 216);
    justify-content: center;
    padding: 10px;
    width: 450px;
    

}


#current-subscription-details {
    width: 50%;
    border: 3px solid rgb(216, 168, 12);
    padding: 10px;
    align-items: center;
}

#preview-poem{
    border: 3px solid rgb(216, 12, 140);
    justify-content: center;
    padding: 10px;
    align-items: center;
    font-weight: 400;
    font-style: italic;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: medium;
}


#account-edit-options{
    border: 1px solid #c81bdf;
    width: 450px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}

#account-edit-options > button {
    margin: 5px 0;
    justify-content: center;
    width: 50%;
    border-radius: 4px;
}
       
#delivery-details{

    border: 3px solid rgb(185, 51, 51);
    justify-content: center;
    padding: 10px;
    align-content: space-between;

}

#delivery-details > *:not(button){
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    margin: 20px;

}

/* #delivery-details > h3{
    align-self: start;
    justify-self: center;
    font-weight: bold;
    margin-bottom: 10px;
    padding: 10px;
}
*/



#edit-input{
    padding: 8px;
    margin-top: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    width: 80%;

}

.edit-button, .edit-button-email{
    background: #A02c3e;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
    justify-content: center;
    align-items: center;
    width: 50%;
    transition: background 0.3s ease;

    &:hover {
        background: #8b252f;
    }
}


#date-container > button{
    background: #A02c3e;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: background 0.3s ease;

    &:hover {
        background: #8b252f;
    }
}

#date-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}

#date-container > *{
    margin-top: 15px;

}

#subscription-history{

    border: 3px solid rgb(83, 204, 72);
    justify-content: center;
    padding: 10px;

}
#history-list{
    max-height: 200px;
    overflow-y: auto;
    padding: 10px;
    list-style: none;
}
#payment-methods{

    border: 1px solid #2737cc;
    justify-content: center;
    padding: 10px;

}

#payment-title{
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
    padding: 10px;
    color: #2737cc;
}

.update-payment-button{
    background: #A02c3e;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: background 0.3s ease;

    &:hover {
        background: #8b252f;
    }
}

#logout-section{

    text-align: center;
    margin-bottom: 10px;
    border: 4px solid rgb(105, 32, 165);
    max-width: 100px;
    max-height: 80px;


}

.logout-button{
    background: #A02c3e;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: background 0.3s ease;


    &:hover {
        background: #8b252f;
    }
}


.account-options-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background: white;
    border-radius: 8px;
    border: 4px solid black;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
}

.options-buttons{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

.option-button{
    width: 80%;
    padding: 15px;
    font-size: 18px;
    color: white;
    background: #A02c3e;
    border: none;
    margin: 10px 0 ;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s ease;

    &:hover {
        background: #f8d77c;
        color: #A02c3e;
    }
}

.option-button:active {
    transform: scale(0.98);
}  

#delete-account-secion{
    text-align: center;
    margin-bottom: 10px;
    border: 4px solid rgb(165, 32, 32);
    max-width: 150px;
    max-height: 80px;
}

.delete-account-button{
    background: #A02c3e;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: background 0.3s ease;

    &:hover {
        background: #8b252f;
    }
}


.footer{
    text-align: center;
    padding: 20px;
    background: #b19696;
    color: white;
    border-radius: 0;
    box-shadow: 0 4px 12px rgba(0,0,0,0.2);
    margin: 0;
    font-size: 14px;
    border-top: 2px solid white;
    position: relative;
    bottom: 0;
    width: 100%;
    box-sizing: border-box;
}