body {
  margin: 0;
  padding: 0;
  background: #fff9f5;
  font-family: Arial, sans-serif;
}

.header{
    text-align: center;
    padding: 20px;
    background: #A02c3e;
    color: white;
    border-radius: 0;
    box-shadow: 0 4px 12px rgba(0,0,0,0.2);
    margin: 0;
}

.nav-bar {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    gap: 20px;
    border: 3px solid white;
    padding: 10px;
    border-radius: 10px;
    background: rgba(209, 204, 204, 0.1);

}

.nav-link{
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 18px;
    transition: color 0.7s ease;
    transition: transform 0.3s ease;
    will-change: transform;

    &:hover {
        color: #f8d77c;
        transform: scale(1.05);
    }
}

.section-title {
    text-align: center;
    margin: 30px 0 20px 0;
    font-size: x-large;
    color: #333;
}


.included-section{
    padding: 20px;
    margin: 20px;
    border: 2px solid #A02c3e;
    border-radius: 10px;
    background: #fff0e6;
}

.included-features{
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 15px;
    margin: 10px 0;
    background: #ffffff;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);

}

.section{
    padding: 20px;
    margin: 20px;
    border: 2px solid #A02c3e;
    border-radius: 10px;
    background: #fff0e6;
}

.section li {
    margin-bottom: 10px;
    font-size: 16px;
    color: #555;
    
}

.feature-tile{
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 15px;
    margin: 10px 0;
    background: #ffffff;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}




.footer{
    text-align: center;
    padding: 20px;
    background: #b19696;
    color: white;
    border-radius: 0;
    box-shadow: 0 4px 12px rgba(0,0,0,0.2);
    margin: 0;
    font-size: 14px;
    border-top: 2px solid white;
    position: relative;
    bottom: 0;
    width: 100%;
    box-sizing: border-box;
}