body {
  margin: 0;
  padding: 0;
  background: #fff9f5;
  font-family: Arial, sans-serif;
}

.header{
    text-align: center;
    padding: 20px;
    background: #A02c3e;
    color: white;
    border-radius: 0;
    box-shadow: 0 4px 12px rgba(0,0,0,0.2);
    margin: 0;
}

.nav-bar {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    gap: 20px;
    border: 3px solid white;
    padding: 10px;
    border-radius: 10px;
    background: rgba(209, 204, 204, 0.1);

}







.footer{
    text-align: center;
    padding: 20px;
    background: #b19696;
    color: white;
    border-radius: 0;
    box-shadow: 0 4px 12px rgba(0,0,0,0.2);
    margin: 0;
    font-size: 14px;
    border-top: 2px solid white;
    position: relative;
    bottom: 0;
    width: 100%;
    box-sizing: border-box;
}