body {
  margin: 0;
  padding: 0;
  background: #fff9f5;
  font-family: Arial, sans-serif;
}

.header{
    text-align: center;
    padding: 20px;
    background: #A02c3e;
    color: white;
    border-radius: 0;
    box-shadow: 0 4px 12px rgba(0,0,0,0.2);
    margin: 0;
}

.nav-bar {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    gap: 20px;
    border: 3px solid white;
    padding: 10px;
    border-radius: 10px;
    background: rgba(209, 204, 204, 0.1);

}

.nav-link{
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 18px;
    transition: color 0.7s ease;
    transition: transform 0.3s ease;
    will-change: transform;

    &:hover {
        color: #f8d77c;
        transform: scale(1.05);
    }
}

.how-it-works-section{
    padding: 50px 20px;
    background: #f7d6dc;
    color: #333;
    text-align: center;
    border-radius: 0;
    box-shadow: 0 4px 12px rgba(0,0,0,0.2);
    margin: 0;
    border: 4px solid black;
}

.how-it-works{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    margin-top: 30px;
    padding: 20px;
    font-family: 'Arial', sans-serif;
    font-size: 18px;
    text-shadow: 1px 1px 2px rgba(0,0,0,0.2);
}

.section-title{
    font-size: 36px;
    margin-bottom: 90px;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.3);
    border: 4px solid rgb(79, 207, 169);

}

.subscription-section{
    padding: 50px 20px;
    background: #c8a2c8;
    color: white;
    text-align: center;
    border-radius: 0;
    box-shadow: 0 4px 12px rgba(0,0,0,0.2);
    margin: 0;
}
.subscription-plans{
    display: flex;
    flex-wrap: wrap;
    position: relative;
    justify-content: space-evenly;
    gap: 20px;
    flex-wrap: wrap;
    margin-top: 30px;
    border: 4px solid orange;
    padding: 20px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.2);

}

.subscription-plans > div:nth-child(1), .subscription-plans > div:nth-child(2){
    background: white;
    color: #333;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.2);
    width: 200px;
    text-align: center;
    border: 4px solid black;
    margin: 10px 0;
    font-size: 18px;
    font-weight: bold;
    text-shadow: 1px 1px 2px rgba(0,0,0,0.2);
    transition: transform 0.2s ease, box-shadow 1s ease;
    will-change: transform;

    &:hover {
        transform: translateY(-5px);
        box-shadow: 0 8px 16px rgba(0,0,0,0.3);
    }
}

.top-tile{
    background: white;
    color: #333;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.2);
    width: 200px;
    text-align: center;
    border: 4px solid black;
    margin: 10px 0;
    font-size: 18px;
    font-weight: bold;
    text-shadow: 1px 1px 2px rgba(0,0,0,0.2);
    transition: transform 1s ease, box-shadow 1s ease;

    &:hover {
        transform: scale(1.1);
        box-shadow: 0 8px 16px rgba(0,0,0,0.3);
    }

}

.top-tile-stamp {
    margin-bottom: 0;
    font-size: 24px;
    color: #db2777;
    text-shadow: 1px 1px 2px rgba(0,0,0,0.2);
    border: 4px solid rgb(51, 248, 215);
    rotate: -29deg;
    translate: -60px -140px;
    padding: 10px;
    background: transparent;
    position: absolute;
    width: 130px;
    height: 130px;
    background-color: #fff;
    transition: transform 1s ease;
    pointer-events: none;
    
    &::before{
    content: '';
    position: absolute;
    top: 93px;
    right: 39px;
    width: 60px;
    height: 60px;
    background-color: #db2777;
    clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
    transition: transform 1s ease;
    }

}

.top-tile:hover .top-tile-stamp{
  transform: scale(1.1) rotate(5deg);
}



.top-tile-extra{
    font-size: 16px;
    color: #4e6baa;
    margin: 15px;
    font-weight: normal;
    text-shadow: 1px 1px 2px rgba(0,0,0,0.2);
    border: 4px solid rgb(185, 32, 32);
    border-radius: 10%;
    padding: 10px;
    flex-wrap: wrap;;
    background: #f0f0f0;
}

.tile-hyperlink{
    text-decoration: none;
    font-weight: bold;
    font-size: 18px;
    transition: color 0.7s ease;
    transition: transform 0.3s ease;
    will-change: transform;
    display: inline-block;       
    padding: 0.5em 1.5em;          
    background-color: #007bff;      
    color: white;                   
    border: none;
    cursor: pointer;
    background-color: #e72222;
    border-radius: 999px;
    transition: all 0.3s ease;
    text-align: center;

    &:hover {
    color: #3ad33a;
    background-color: #00704a;
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0,0,0,0.3);
    }
}



.footer{
    text-align: center;
    padding: 20px;
    background: #b19696;
    color: white;
    border-radius: 0;
    box-shadow: 0 4px 12px rgba(0,0,0,0.2);
    margin: 0;
    font-size: 14px;
    border-top: 2px solid white;
    position: relative;
    bottom: 0;
    width: 100%;
    box-sizing: border-box;
}